*{
    font-family: 'Segoe UI';
}
body{
    margin: 0px;
}
header{
    width: 100%;
    z-index: 10;
    color: white;
    background-color: rgba(0, 158, 167, 0.75);
    display: block;
    position: fixed;
}
ul{
    text-align: center;
    display: block;
    margin: auto;
    width: 75%; 
    list-style-type: none;
}
.horizontal{
    display: inline-block;
    padding: 16px;
}
.horizontal a:link, .horizontal a{
    padding: 16px;
}
.horizontal a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.circular{
    display: inline-block;
}
section{
    text-align: center;
    padding: 100px;
}
#about{
    padding-top: 200px;
    background-color: rgba(221, 225, 231, 1)
}
#programms{
    background-color: white;
}
#contact{
    background-color: rgba(221, 225, 231, 1);
}
#additional{
    background-color: white;
}
footer{
    background-color: rgba(253, 195, 29, 1);
    width: 100%;
}