*{
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

/* BASE */
ul{
    text-align: center;
    display: block;
    padding: none;
    margin: auto;
    width: 75%; 
    list-style-type: none;
}
.horizontal {
    display: inline-block;
    margin: auto;
    padding: 16px;
}
.horizontal a:link, .horizontal a{
    padding: inherit;
}
.horizontal a:hover{
    background-color: rgb(138, 138, 138);
}
.circular{
    display: block;
}
section{
    text-align: center;
    padding: 100px;
}
textarea{
    border-radius: 10px;
    width: 35%;
    resize: none;
    border: none;
    outline: none;
}
.text, select{
    height: 30px;
    width: 35%;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
    margin: 5px;
}
.submit{
    margin: 10px auto;
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: black;
    background-color: rgb(251, 196, 0);
    font-size: 15px;
}
.submit:hover{
    background-color: rgb(251, 196, 0);
}

/* HEADER */
header{
    width: 100%;
    z-index: 10;
    color: white;
    background-color: rgb(12, 12, 12);
    display: block;
    position: fixed;
}
.logo{
    height: 50px;
    width: auto;
    padding: none;
}

/* BODY */
body{
    margin: 0px;
}
#about{
    padding-top: 150px;
    background-color: white;
}
#programs{
    background-color: rgb(50, 50, 50);
    color: white;
}
#contact{
    background-color: rgb(50, 50, 50);
    color: white;
}
#additional{
    background-color: white;
}

/* FOOTER */
footer{
    padding: 50px;
    color: white;
    background-color: rgb(12, 12, 12);
}
