*{
    font-family: 'Segoe UI';
}
body{
    margin: 0px;
}
header{
    width: 100%;
    z-index: 10;
    color: white;
    background-color: rgba(0, 158, 167, 0.75);
    display: block;
    position: fixed;
}
ul{
    text-align: center;
    display: block;
    margin: auto;
    width: 75%; 
    list-style-type: none;
}
.horizontal{
    display: inline-block;
    padding: 16px;
}
.horizontal a:link, .horizontal a{
    padding: inherit;
}
.horizontal a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.circular{
    display: block;
}
section{
    text-align: center;
    padding: 100px;
}
#about{
    padding-top: 150px;
    background-color: rgba(221, 225, 231, 1)
}
#programs{
    background-color: white;
}
#contact{
    background-color: rgba(221, 225, 231, 1);
}
#additional{
    background-color: white;
}
textarea{
    border-radius: 10px;
    width: 35%;
    resize: none;
    border: none;
    outline: none;
}
.text, select{
    height: 30px;
    width: 35%;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
    margin: 5px;
}
.submit{
    margin: 10px auto;
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: white;
    background-color: rgba(0, 158, 167, 1);
    font-size: 15px;
}
.submit:hover{
    background-color: rgb(0, 116, 122);
}
footer{
    padding: 50px;
    background-color: rgba(253, 195, 29, 1);
}